.container {
  position: relative;
  width: 100vw;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  outline: 1px solid red;
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-right: 75px;
    padding-left: 75px;
  }
  @media screen and (min-width: 1024px) {
    width: 1024px;
    padding-right: 71px;
    padding-left: 71px;
  }
}
