@mixin close-btn {
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--primary-text-color);
  cursor: pointer;
  line-height: 0;

  transition: all 1000ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
    // transform: scale(1.2);
    outline: none;
  }
}

.pop-up__close-btn > .close-icon,
.pop-up__close-btn-mobile > .close-icon {
  transition: scale(1.2) 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
    // border-color: var(--accent-color);
    transform: scale(1.2);
    outline: none;
  }
}
