:root {
  --main-font: Roboto, sans-serif;

  --accent-color: #ff6b08; //подчеркивание текущей страницы, выделение жанра, года, пагинация, футтер сердечко
  --primary-text-color: #000000; // основной текст
  --secondary-text-color: #545454; //текст с футера и карточек описания
  --footer-grey-color: #f7f7f7; //цвет футера
  --primary-white-color: #ffffff; // текст белого фона
  --primary-error-t-color: #ff001b; //ошибка поиска фильмов Search result not successful. Enter the correct movie name and
  --static-white-color: #ffffff;
  --rating-color: #000000;
}
