<div class="pop-up">
    <button class="mobile-nav__btn" type="button" data-menu-close>
        <svg class="close-icon" width="14" height="14">
            <use href="./images/close.svg#icon-close"></use>
        </svg>
    </button>
    <!-- <img class="pop-up__poster" src="" alt="" width="" height=""> -->
    <picture>
        <source srcset="" media="(min-width: 1024px)" type="image/webp" />
        <source srcset="" media="(min-width: 1024px)" />
        <source srcset="" media="(min-width: 768px)" type="image/webp" />
        <source srcset="" media="(min-width: 768px)" />
        <source srcset="" media="(min-width: 280px)" type="image/webp" />
        <source srcset="" media="(min-width: 280px)" />
        <img class="pop-up__poster" src="#" alt="" />
    </picture>

    <h1 class="pop-up__title">A FISTFUL OF LEAD</h1>

    <div class="movie-details">
        <ul class="movie-details__keys">
            <li class="vote-key"></li>
            <li class="popularity-key"></li>
            <li class="title-key"></li>
            <li class="genre-key"></li>
        </ul>
        <ul class="movie-details__values">
            <li class="vote-value"></li>
            <li class="opularity-value"></li>
            <li class="title-value"></li>
            <li class="genre-value"></li>
        </ul>
    </div>

    <div class="about">
        <p class="about__title">about</p>
        <p class="about__description"></p>
    </div>
    <div class="pop-up__buttons">
        <button type="button" data-watched>add to Watched</button>
        <button type="button" data-queue>add to queue</button>
    </div>

</div>