<div class="backdrop visually-hidden">
    <div class="backdrop-btn-wrap">
        <button class="pop-up__close-btn-mobile" type="button" data-pop-up-close>
            <svg class="close-icon" width="14" height="14">
                <use xlink:href="./images/close.svg#icon-close"></use>
            </svg>
        </button>
    </div>
    <div class="backdrop-inner">
        <div class="pop-up pop-up-mobile">

            <button class="pop-up__close-btn" type="button" data-pop-up-close>
                <svg class="close-icon" width="14" height="14">
                    <use xlink:href="./images/close.svg#icon-close"></use>
                </svg>
            </button>

            <div class="pop-up__container">

                <!-- <div class="pop-up__thumb"> -->
                <!-- <picture>
                    <source srcset="" media="(min-width: 1024px)" type="image/webp" />
                    <source srcset="" media="(min-width: 1024px)" />
                    <source srcset="" media="(min-width: 768px)" type="image/webp" />
                    <source srcset="" media="(min-width: 768px)" />
                    <source srcset="" media="(min-width: 280px)" type="image/webp" />
                    <source srcset="" media="(min-width: 280px)" />
                    <img class="pop-up__poster" src="#" alt="" />
                </picture> -->
                <!-- </div> -->

                <!-- <div class="movie-details-container">

                <h1 class="pop-up__title">A FISTFUL OF LEAD</h1>

                <div class="movie-details">
                    <ul class="movie-details__keys">
                        <li class="vote-key detail">Vote / Votes</li>
                        <li class="popularity-key detail">Popularity</li>
                        <li class="title-key detail">Original Title</li>
                        <li class="genre-key">Genre</li>
                    </ul>
                    <ul class="movie-details__values">
                        <li class="vote-value detail"><span class="vote-value__accent">7.3</span><span
                                class="vote-value__slash">/</span><span class="vote-value__last value">1260</span></li>
                        <li class="popularity-value detail value">100.2</li>
                        <li class="title-value detail value">A FISTFUL OF LEAD</li>
                        <li class="genre-value value">Western</li>
                    </ul>
                </div>

                <div class="about">
                    <p class="about__title">about</p>
                    <p class="about__description">
                        Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most
                        corrupt settlement of the
                        gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of
                        gold hide out in the
                        abandoned gold mine where they happen across another gang of three – who themselves were
                        planning to hit the very same
                        bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled
                        with lead... they’ve
                        been double crossed – but by who and how?
                        Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most
                        corrupt settlement of the
                        gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of
                        gold hide out in the
                        abandoned gold mine where they happen across another gang of three – who themselves were
                        planning to hit the very same
                        bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled
                        with lead... they’ve
                        been double crossed – but by who and how?
                        Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most
                        corrupt settlement of the
                        gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of
                        gold hide out in the
                        abandoned gold mine where they happen across another gang of three – who themselves were
                        planning to hit the very same
                        bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled
                        with lead... they’ve
                        been double crossed – but by who and how?
                    </p>
                </div>
                <ul class="pop-up-buttons">
                    <li class="pop-up-buttons__items">
                        <button class="pop-up-btn current-btn" type="button" data-watched>
                            add to watched
                        </button>
                    </li>
                    <li class="pop-up-buttons__items">
                        <button class="pop-up-btn" type="button" data-queue>
                            add to queue
                        </button>
                    </li>
                </ul>
            </div> -->

            </div>
        </div>
    </div>
</div>