<div class="backdrop visually-hidden">
    <div class="about-film-window">

        <div class="backdrop-btn-wrap">
            <button class="pop-up__close-btn-mobile" type="button" data-pop-up-close>
                <svg class="close-icon" width="14" height="14">
                    <use xlink:href="./images/close.svg#icon-close"></use>
                </svg>
            </button>
        </div>
        <div class="backdrop-inner">
            <div class="pop-up pop-up-mobile">

                <button class="pop-up__close-btn" type="button" data-pop-up-close>
                    <svg class="close-icon" width="14" height="14">
                        <use xlink:href="./images/close.svg#icon-close"></use>
                    </svg>
                </button>

                <div class="pop-up__container">

                    <!-- <div class="pop-up__thumb"> -->
                    <!-- <picture>
                    <source srcset="" media="(min-width: 1024px)" type="image/webp" />
                    <source srcset="" media="(min-width: 1024px)" />
                    <source srcset="" media="(min-width: 768px)" type="image/webp" />
                    <source srcset="" media="(min-width: 768px)" />
                    <source srcset="" media="(min-width: 280px)" type="image/webp" />
                    <source srcset="" media="(min-width: 280px)" />
                    <img class="pop-up__poster" src="#" alt="" />
                    </picture> -->
                    <!-- </div> -->

                    <!-- <div class="movie-details-container"> -->
                    <!-- <h1 class="pop-up__title">A FISTFUL OF LEAD</h1>
                    <ul class="movie-details">
                        <li class="movie-details__vote  movie-details__items">
                            <div class="movie-details__key-wrap">
                                <span class="movie-details__key">Vote / Votes</span>
                            </div>
                            <ul class="vote-value movie-details__value">
                                <li class="vote-value__accent">7.3</li>
                                <li class="vote-value__slash">/</li>
                                <li class="vote-value__last">1260</li>
                            </ul>
                        </li>
                        <li class="movie-details__popularity movie-details__items">
                            <div class="movie-details__key-wrap">
                                <span class="movie-details__key">Popularity</span>
                            </div>
                            <div class="popularity-value  movie-details__value">100.2</div>
                        </li>
                        <li class="movie-details__title movie-details__items">
                            <div class="movie-details__key-wrap">
                                <span class="movie-details__key">Original Title</span>
                            </div>
                            <div class="title-value  movie-details__value">
                                A FISTFUL OF LEAD A FISTFUL OF LEAD A FISTFUL OF LEAD
                            </div>
                        </li>
                        <li class="movie-details__genre movie-details__items">
                            <div class="movie-details__key-wrap">
                                <span class="movie-details__key">Genre</span>
                            </div>
                            <div class="genre-value movie-details__value">
                                Western, Western, Western, Western
                            </div>
                        </li>
                    </ul> -->

                    <!-- <div class="about">
                            <p class="about__title">about</p>
                            <p class="about__description">
                                Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
                                most
                                corrupt settlement of the
                                gold rush towns. But not all goes to plan one is killed and the other three escapes with
                                bags of
                                gold hide out in the
                                abandoned gold mine where they happen across another gang of three – who themselves were
                                planning to hit the very same
                                bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
                                filled
                                with lead... they’ve
                                been double crossed – but by who and how?
                                Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
                                most
                                corrupt settlement of the
                                gold rush towns. But not all goes to plan one is killed and the other three escapes with
                                bags of
                                gold hide out in the
                                abandoned gold mine where they happen across another gang of three – who themselves were
                                planning to hit the very same
                                bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
                                filled
                                with lead... they’ve
                                been double crossed – but by who and how?
                                Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
                                most
                                corrupt settlement of the
                                gold rush towns. But not all goes to plan one is killed and the other three escapes with
                                bags of
                                gold hide out in the
                                abandoned gold mine where they happen across another gang of three – who themselves were
                                planning to hit the very same
                                bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
                                filled
                                with lead... they’ve
                                been double crossed – but by who and how?
                            </p>
                        </div>
                        <ul class="pop-up-buttons">
                            <li class="pop-up-buttons__items">
                                <button class="pop-up-btn current-btn" type="button" data-watched>
                                    add to watched
                                </button>
                            </li>
                            <li class="pop-up-buttons__items">
                                <button class="pop-up-btn" type="button" data-queue>
                                    add to queue
                                </button>
                            </li>
                        </ul> -->
                    <!-- </div> -->

                </div>
            </div>
        </div>
    </div>
</div>