<footer class="footer">
    <div class="footer__box container">
        <p>&copy; 2020 | All Rights Reserved |</p>
        <div class="footer__wraper">
            <p>Developed with </p>
            <svg class="footer__icon animate__animated animate__heartBeat" width="14" height="13">
                <use href="./images/icons.svg#icon-heart"></use>
            </svg>
            <span>by</span>
            <button class="footer__btn" data-modal-open type="button">GoIT Students</button>
        </div>

    </div>
</footer>











