<div class="home-overlay__home home-overlay"></div>
<h1 class="visually-hidden">Home</h1>
<section class="input-section">
  <h2 class="visually-hidden">search-form</h2>
  <div class="input-wrap">
    <input type="text" placeholder="Поиск фильмов" class="input-key" id="key" />
    <label for="key" class="label-key"></label>
  </div>
</section>


<section class="gallery-section">
  <h2 class="visually-hidden">gallery</h2>
  <div class="container">
    <ul class="gallery-list js-card-container gallery"></ul>
    <div class="loader"></div>
  </div>
</section>