<header class="header header-overlay header-overlay__home">
    <div class="container header-container">
        <nav class="navigation">
            <a href="./index.html" class="logo link">
                <svg class="logo__icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-film"></use>
                </svg>
                <span class="logo__title">Filmoteka
                </span>    
            </a>

            <ul class="menu">
                <li class="menu__item menu__item--current">
                    <a class="menu__link link" href="./index.html">Home</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link" href="./library.html">my library</a>
                </li>
            </ul>
        </nav>
        <div class="input-wrap">
            <input type="text" placeholder="Поиск фильмов" class="input-key" id="key">
            <label for="key" class="label-key"></label>
        </div>
    </div>
</header>