<div class="library-overlay__library home-overlay"></div>
<section class="library-section">
<ul class="library__list">
    <li class="library__item">
        <button class="library__btn current-btn watched-js" type="button">Watched</button>
    </li>
    <li class="library__item">
        <button class="library__btn queue-js" type="button">queue</button>
    </li>
</ul>
</section>


<section class="gallery-section">
    <h2 class="visually-hidden">gallery</h2>
    <div class="container">
        <ul class="gallery-list js-card-container gallery"></ul>
        <div class="loader"></div>
    </div>
</section>