<header class="header header-overlay header-overlay__library">
    <div class="container header-container">
        <nav class="navigation">
            <a href="./index.html" class="logo link">
                <svg class="logo__icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-film"></use>
                </svg>
                <span class="logo__title">Filmoteka
                </span>
            </a>

            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link link" href="./index.html">Home</a>
                </li>
                <li class="menu__item menu__item--current">
                    <a class="menu__link link" href="./library.html">my library</a>
                </li>
            </ul>
        </nav>
        <ul class="library__list">
            <li class="library__item">
                <button class="library__btn" type="button">
                    Watched
                </button>
            </li>
            <li class="library__item">
                <button class="library__btn" type="button">
                    queue
                </button>
            </li>
        </ul>
    </div>
</header>