<div class="backdrop_command is-hidden" data-modal>
  <div class="modal_command">
    <div class="title_command">
      <button class="modal_command_close" data-modal-close></button>
    </div>
    <div class="content__command">
      <ul class="list-command">
        <li class="item-command">
          <a class="command-item__link" href="https://github.com/Kuzia30" target="_blank">
            <img
              class="command-item__img"
              src="../src/images/teams/Макс.jpg"
              alt="Maxim Kuznetsov"
            />
          </a>
          <p class="command-item__about">
            <span class="command-item__name">Maxim Kuznetsov</span>
          </p>
        </li>
        <li class="item-command">
          <a class="command-item__link" href="https://github.com/AnastasiiaBrd" target="_blank">
            <img
              class="command-item__img"
              src="../src/images/teams/Настя.jpg"
              width="150"
              height="150"
              alt="Anastasiia Borodashkina"
            />
          </a>
          <p class="command-item__about">
            <span class="command-item__name"> Nastya Borodashkina</span>
          </p>
        </li>
        <li class="item-command">
          <a class="command-item__link" href="https://github.com/Kretsul-Vitaliy" target="_blank">
            <img
              class="command-item__img"
              src="../src/images/teams/Виталик.jpg"
              alt="Vitaliy Kretsul"
            />
          </a>
          <p class="command-item__about">
            <span class="command-item__name">Vitaliy Kretsul</span>
          </p>
        </li>
        <li class="item-command">
          <a class="command-item__link" href="https://github.com/Katia-Radchenko" target="_blank">
            <img
              class="command-item__img"
              src="../src/images/teams/Катя.jpg"
              alt="Kateryna Radchenko"
            />
          </a>
          <p class="command-item__about">
            <span class="command-item__name">Kateryna Radchenko</span>
          </p>
        </li>
        <li class="item-command">
          <a class="command-item__link" href="https://github.com/LutsenkoVitaliy" target="_blank">
            <img
              class="command-item__img"
              src="../src/images/teams/Виталий.jpg"
              alt="Vitaliy Lutsenko"
            />
          </a>
          <p class="command-item__about">
            <span class="command-item__name">Vitaliy Lutsenko</span>
          </p>
        </li>
        <li class="item-command">
          <a class="command-item__link" href="https://github.com/Svit-l" target="_blank">
            <img class="command-item__img" src="../src/images/teams/Света.jpg" alt="Svitlana" />
          </a>
          <p class="command-item__about">
            <span class="command-item__name">Svitlana</span>
          </p>
        </li>
        <li class="item-command">
          <a class="command-item__link" href="https://github.com/Yakov-Homylev" target="_blank">
            <img class="command-item__img" src="../src/images/teams/Яша.jpg" alt="Yakov Homylev" />
          </a>
          <p class="command-item__about">
            <span class="command-item__name">Yakov Homylev</span>
          </p>
        </li>
        <li class="item-command">
          <a class="command-item__link" href="https://github.com/Eugenia-d" target="_blank">
            <img
              class="command-item__img"
              src="../src/images/teams/Евгения.jpg"
              alt="Evheniia Drobiazko"
            />
          </a>
          <p class="command-item__about">
            <span class="command-item__name">Evheniia Drobiazko</span>
          </p>
        </li>
        <li class="item-command">
          <a class="command-item__link" href="https://github.com/SerheijTsotsorin" target="_blank">
            <img
              class="command-item__img"
              src="../src/images/teams/Сергей.png"
              alt="Sergiy Tsotsorin"
            />
          </a>
          <p class="command-item__about">
            <span class="command-item__name">Sergiy Tsotsorin</span>
          </p>
        </li>
        <li class="item-command">
          <a class="command-item__link" href="https://github.com/TanyanaLikar" target="_blank">
            <img class="command-item__img" src="../src/images/teams/Таня.jpg" alt="Tanyana Likar" />
          </a>
          <p class="command-item__about">
            <span class="command-item__name">Tanyana Likar</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
