.library__btn {
  width: 129px;
  height: 44px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  text-transform: uppercase;

  color: var(--primary-white-color);
  background-color: inherit;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 136px;
  }
}

.current-btn {
  border: none;
  background-color: var(--accent-color);
}
