.logo {
  display: flex;
  align-items: center;
}
.logo__icon {
  width: 100%;
}

.logo__title {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }

  margin-left: 10px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;

  color: #ffffff;
}
