//*****************************Pagination container**************************//
// .tui-pagination * {
//   -moz-user-select: none;
//   -webkit-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

// .tui-ico-ellipsis,
// .tui-ico-first,
// .tui-ico-last,
// .tui-ico-next,
// .tui-ico-prev {
//   overflow: hidden;
// }

.tui-pagination {
  height: 40px;
  margin: 40px 0;
  line-height: normal;
  text-align: center;
  font-size: 0;
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    margin: 50px 0 60px;
  }
  @media screen and (min-width: 1024px) {
    margin: 46px 0 60px;
  }
}

//*****************************Pagination button**************************//

.tui-pagination .tui-page-btn {
  display: inline-block;
  position: relative;
  height: 40px;
  width: 40px;
  padding: 13px;
  margin-left: 0;
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  vertical-align: middle;
}

.tui-pagination .tui-page-btn:hover {
  background-color: var(--footer-grey-color);
  border-radius: 5px;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: #fff;
  background: var(--accent-color);
  border-color: var(--accent-color);
  cursor: default;
  border-radius: 5px;
}

.tui-pagination .tui-is-selected:hover {
  background-color: var(--accent-color);
}

.tui-pagination .tui-first,
.tui-pagination .tui-last,
.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.tui-pagination .tui-first,
.tui-pagination .tui-prev,
.tui-pagination .tui-next,
.tui-pagination .tui-last,
.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  overflow: hidden;
  height: 40px;
  padding: 0;
  font-size: 0;
  line-height: 40px;
  white-space: nowrap;
  font-weight: normal;
}

.tui-pagination .tui-ico-first,
.tui-pagination .tui-ico-prev,
.tui-pagination .tui-ico-next,
.tui-pagination .tui-ico-last,
.tui-pagination .tui-ico-ellip {
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
}

.tui-pagination .tui-last,
.tui-pagination .tui-first {
  background-color: var(--footer-grey-color);
  border-radius: 5px;
}

.tui-pagination .tui-ico-first {
  background: url(../images/pagination-icon/arrow-left.svg) no-repeat 0 0;
  width: 16px;
  height: 16px;
  background-position: center;
}

.tui-pagination .tui-ico-last {
  background: url(../images/pagination-icon/arrow-right.svg) no-repeat 0 0;
  width: 16px;
  height: 16px;
  background-position: center;
}

.tui-pagination .tui-ico-prev {
  background: url(../images/pagination-icon/double-arrow-left.svg) no-repeat 0 0;
  width: 11px;
  height: 16px;
  background-position: center;
}

.tui-pagination .tui-ico-next {
  background: url(../images/pagination-icon/double-arrow-right.svg) no-repeat 0 0;
  width: 11px;
  height: 16px;
  background-position: center;
}

.tui-pagination .tui-ico-ellip {
  background: url(../images/pagination-icon/three-dots.svg) no-repeat 0 0;
  width: 11px;
  height: 16px;
  background-position: center;
}

.tui-pagination .tui-is-disabled {
  display: none;
  cursor: default;
}
