.js-trailer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 25%;
  background-image: url(./../images/youtube-pic.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  opacity: 0.7;
}
.trailer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  &.is-hidden {
    width: 0;
    height: 0;
    z-index: -1;
  }
}
.trailer__frame {
  width: 100%;
  height: 100%;
}
