.footer {
  background-color: var(--footer-grey-color);
}

.footer__box {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-color);

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer__wraper {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    margin-top: 10px;
  }
}

.footer__icon {
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.footer:hover .footer__icon,
.footer:focus .footer__icon {
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.footer__btn {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-color);
  border: none;
  background-color: var(--footer-grey-color);
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
