.header-overlay {
  height: 230px;

  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 1600px;
  background-color: #c4c4c4;
}

.header-overlay__home {
  //   phone background
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/home/mobile/mobile-header.jpg);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/home/mobile/mobile-header@2x.jpg);
  }

  // tablet background
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/home/tablet/tablet-header.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/home/tablet/tablet-header@2x.jpg);
    }
  }
  // desktop background
  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/home/desktop/desktop-header.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/home/desktop/desktop-header@2x.jpg);
    }
  }
}

.header-overlay__library {
  //   phone background
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/library/mobile/mobile-header.jpg);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library/mobile/mobile-header@2x.jpg);
  }

  // tablet background
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library/tablet/tablet-header.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/library/tablet/tablet-header@2x.jpg);
    }
  }
  // desktop background
  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library/desktop/desktop-header.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/library/desktop/desktop-header@2x.jpg);
    }
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 41px;
}

.menu {
  display: flex;
}

.menu__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.menu__item:not(:last-child) {
  margin-right: 39px;
}

.menu__item--current::after {
  content: '';
  display: block;
  height: 3px;
  background: var(--accent-color);
}
